<!DOCTYPE html>
{% load staticfiles %}
{% load i18n %}
<html dir="ltr" lang="en-US">
<body class="stretched">

	{% block inline-script %}{% endblock %}
	<script src="{% static 'js/plotly_graph_data.js' %}"></script>

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Header
		============================================= -->
		{% include 'include/_header.html' %}

		<!-- Page Title
		============================================= -->
		<section id="page-title">

			<div class="container clearfix">
				<h1>
					{% block page_header %}Page Header{% endblock %}
					<span>{% block page_header_description %}{% endblock %}</span>
				</h1>
				<ol class="breadcrumb">
					{% block breadcrumb %}
						<li class="breadcrumb-item"><a href="#"> Level </a></li>
						<li class="breadcrumb-item"><a href="#"> Level </a></li>
						<li class="breadcrumb-item active" aria-current="page"> Here </li>
					{% endblock %}
				</ol>
			</div>

		</section><!-- #page-title end -->

		<!-- Content
		============================================= -->
		<section id="content">

            <div class="container clearfix">

                <div class="content-wrapper">
                    <div class="container">
                        <!-- Content Header (Page header) -->

                        <!-- Main content -->
                        <section class="content">
                            {% block content %}<!-- Your Page Content Here --> {% endblock %}
                        </section>
                        <!-- /.content -->
                    </div><!-- /.container -->
                </div>

            </div>

        </section><!-- #content end -->

		<!-- Footer
		============================================= -->
		{% include 'include/_footer.html' %}

	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

	<!-- External JavaScripts
	============================================= -->
	<script src="{% static 'third_party/canvas/js/jquery.js' %}"></script>
	<script src="{% static 'third_party/canvas/js/plugins.js' %}"></script>
	<!--<script src="{% static 'third_party/jquery/jquery.min.js' %}"></script>-->
	<script src="{% static 'third_party/jquery/jquery.cookie.js' %}"></script>
	<script src="{% static 'third_party/bootstrap/js/bootstrap.min.js' %}" type="text/javascript"></script>
	<script src="{% static 'third_party/toastr/toastr.js' %}"></script>
	<script src="{% static 'third_party/canvas/js/components/bs-datatable.js' %}"></script>

	<!-- Footer Scripts
	============================================= -->
	<script src="{% static 'third_party/canvas/js/functions.js' %}"></script>
	<script src="{% static 'js/chopen.js' %} " type="text/javascript"></script>

</body>

	{% block inline-css %}{% endblock %}

</html>