<!DOCTYPE html>
{% load staticfiles %}
{% load i18n %}
<html dir="ltr" lang="en-US">
<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Header
		============================================= -->
		{% include 'include/_header.html' %}

		<!-- Page Title
		============================================= -->
		<!--<section id="page-title">

			<div class="container clearfix">
				<h1>Portfolio - Masonry</h1>
				<span>Showcase of Our Awesome Works in 4 Columns</span>
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="#">Home</a></li>
					<li class="breadcrumb-item active" aria-current="page">Portfolio</li>
				</ol>
			</div>

		</section>--><!-- #page-title end -->

		<!-- Content
		============================================= -->
		<section id="content">

			<div class="content-wrap">



				<div class="container clearfix">

					

				</div>

			</div>

		</section><!-- #content end -->

		<!-- Footer
		============================================= -->
		{% include 'include/_footer.html' %}

	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

	<!-- External JavaScripts
	============================================= -->
	<script src="{% static 'third_party/canvas/js/jquery.js' %}"></script>
	<script src="{% static 'third_party/canvas/js/plugins.js' %}"></script>

	<!-- Footer Scripts
	============================================= -->
	<script src="{% static 'third_party/canvas/js/functions.js' %}"></script>

</body>
</html>