{% extends "base_ajax.html" %}
{% load i18n %}
{% load widget_filters %}
{% load staticfiles %}

{% block content %}
<div id="reference_form_wrapper">
    <div class="row">
        <div class="col-sm-12">
            <div class="box-header">
                <h3 class="box-title">{% trans 'Reference Info' %}</h3>
                <p class="help-block">Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
            </div>
            <form method="post" class="form" id="frm_reference" action="{% url 'ion_channel:reference-auto-create' %}">
                <div class="box-body">
                    {% csrf_token %}
                    {{ wizard.management_form }}
                    {% if wizard.form.forms %}
                        {{ wizard.form.management_form }}
                        {% for form in wizard.form.forms %}
                            {% for field in form%}
                                <div class="form-group">
                                    {{ field.errors }}
                                    {{ field.label_tag }}
                                    {{ field |addcss:"form-control" }}
                                </div>
                            {% endfor %}
                        {% endfor %}
                    {% else %}
                        {% for field in wizard.form%}
                        <div class="form-group">
                            {{ field.errors }}
                            {{ field.label_tag }}
                            {{ field |addcss:"form-control" }}
                        </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="box-footer">
                    {% if wizard.steps.prev %}
                    <!--<button name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">{% trans "first step" %}</button>-->
                    <button class="btn btn-default" name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">{% trans "Prev Step" %}</button>
                    {% endif %}
                    <input type="submit" value="{% trans 'Submit' %}" class="btn btn-primary pull-right"
                           onclick="return pdc.ion_channel.reference.save()"/>
                    <a href="#" class="btn btn-default" onclick="pdc.ion_channel.modal.close()">{% trans 'Cancel' %}</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
