{% load staticfiles %}
{% load i18n %}
<!-- Footer
============================================= -->
<footer id="footer" style="background-color: #FFF;">

    <div class="container">

        <!-- Footer Widgets
        ============================================= -->
        <div class="footer-widgets-wrap clearfix">
            <div class="row clearfix">

                <div class="col-lg-5">

                    <div class="widget clearfix">
                        <div class="row clearfix">
                            <div class="col-lg-8 bottommargin-sm clearfix" style="color:#888;">
                                <img src="{% static 'third_party/canvas/demos/app-landing/images/footer-logo.png' %}"
                                     alt="Chopen Logo" style="display: block;" class="bottommargin-sm">
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-lg-7">
                    <div class="row clearfix">

                        <div class="col-lg-4 bottommargin-sm">
                            <div class="widget widget_links app_landing_widget_link clearfix">
                                <h4>Github repos</h4>

                                <ul>
                                    <li><a href="https://github.com/VahidGh/chopen">Chopen</a></li>
                                    <li><a href="https://github.com/openworm/channelworm">ChannelWorm</a></li>
                                    <li><a href="https://github.com/openworm/openworm-scholar">OpenWorm Scholar</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4 bottommargin-sm">
                            <div class="widget widget_links app_landing_widget_link clearfix">
                                <h4>Publications</h4>
                            </div>
                        </div>
                        <div class="col-lg-4 bottommargin-sm">
                            <div class="widget widget_links app_landing_widget_link clearfix">
                                <h4>About Us</h4>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>

    <!-- Copyrights
    ============================================= -->
    <div id="copyrights" class="nobg notoppadding">

        <div class="container clearfix">

            <div class="col_half">
                Copyrights &copy; 2018 All Rights Reserved by OpenWorm.<br>
            </div>

        </div>

    </div><!-- #copyrights end -->

</footer><!-- #footer end -->

