{% extends "blank.html" %}
{% load staticfiles %}
{% load i18n %}
{% block page_title %}{% trans 'Ion Channel' %}{% endblock %}
{% block page_header %}{% trans 'Ion Channel' %}<span>{% trans 'Add New Ion Channel'%}</span>{% endblock %}
{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'ion_channel:home' %}"> {% trans 'Home' %} </a></li>
    <li class="breadcrumb-item"><a href="{% url 'ion_channel:ion-channel-index' %}"> {% trans ' Ion Channels' %} </a></li>
    <li class="breadcrumb-item active"> {% trans ' Add New Ion Channel' %} </li>
{% endblock %}

<head>

    <link rel="stylesheet" href="{% static 'third_party/canvas/css/imports/shortcodes/process-steps.css' %}" type="text/css" />
    <style>.process-steps li { pointer-events: none; }</style>

</head>

{% block content %}


<div class="content-wrap">
    <div class="container clearfix">
        <div id="processTabs">
        <ul class="process-steps bottommargin clearfix">
            <li>
                <a href="#ptab1" class="i-circled i-bordered i-alt divcenter">1</a>
                <h5>{% trans 'Ion Channel' %}</h5>
            </li>
            <li>
                <a href="#ptab2" class="i-circled i-bordered i-alt divcenter">2</a>
                <h5>{% trans 'Reference' %}</h5>
            </li>
            <li>
                <a href="#ptab3" class="i-circled i-bordered i-alt divcenter">3</a>
                <h5>Patch Clamp</h5>
            </li>
            <li>
                <a href="#ptab4" class="i-circled i-bordered i-alt divcenter">4</a>
                <h5>Graphs</h5>
            </li>
        </ul>
        <div>
            <div id="ptab1">
                <div class="row">
                    <div class="col-md-6">
                        <div class="box">
                            <div class="box-header with-border">
                                <h4 class="box-title"><b>{% trans 'Add new ion channel' %}</b></h4>
                                <br>
                            </div>
                            <div id="ion_channel_form" class="form-group"></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="box box-solid">
                            <div class="box-header with-border">
                                <h4 class="box-title"><b>{% trans 'Ion channel sample form' %}</b></h4>
                                <br>
                            </div>
                            <div id="ion_channel_detail" class="box-body"></div>
                        </div>
                    </div>
                </div>

                <div class="line"></div>

                <a href="#" class="button button-3d nomargin fright tab-linker" rel="2">Next &rArr;</a>

            </div>
            <div id="ptab2">
                <h3>Add reference for patch clamp experiment manually or using auto-search tools</h3>
                <a href="{% url 'ion_channel:reference-auto-create' %}" target="_blank"
                   class="button" title="{% trans 'Add Reference Using Auto-Search' %}">
                    {% trans 'Using Auto-Search' %}
                </a>
                <button class="button">
                    {% trans 'Manually' %}
                </button>
                <div id="reference" class="form-group row"></div>
                <div class="line"></div>
                <a href="#" class="button button-3d nomargin tab-linker" rel="1">Previous</a>
                <a href="#" class="button button-3d nomargin fright tab-linker" rel="3">Next &rArr;</a>
            </div>
            <div id="ptab3">
                <h3>{% trans 'New Patch Clamp Protocol' %}</h3>
                <div id="patch_clamp" class="form-group row"></div>
                <div class="line"></div>
                <a href="#" class="button button-3d nomargin tab-linker" rel="2">Previous</a>
                <a href="#" class="button button-3d nomargin fright tab-linker" rel="4">Next &rArr;</a>
            </div>
            <div id="ptab4">
                <h3>{% trans 'Graphs' %}</h3>
                <div id="graph" class="form-group row"></div>
                <div class="line"></div>
            </div>
        </div>
        </div>
    </div>

    <div class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Patch Clamp</h4>
                </div>
                <div class="modal-body" id="form-container"></div>
            </div>
        </div>
    </div>

</div>




    <!--<div class="box box-default">-->
        <!--<div class="box-header with-border">-->
            <!--<h3 class="box-title">{% trans 'Add New Ion Channel' %}</h3>-->
            <!--<div class="box-tools pull-right">-->
                <!--<button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>-->
            <!--</div>-->
        <!--</div>-->
        <!--&lt;!&ndash;<div id="ion_channel_form" class="box-body"></div>&ndash;&gt;-->
    <!--</div>-->
    <!--<div class="row">-->
        <!--<div class="col-sm-6">-->
        <!--<div class="box collapsed-box">-->
            <!--<div class="box-header with-border">-->
                <!--<h4 class="box-title">{% trans 'Add Reference For Patch Clamp' %}</h4>-->
                <!--<div class="box-tools pull-right">-->
                    <!--<a href="{% url 'ion_channel:reference-auto-create' %}" target="_blank"-->
                       <!--class="btn btn-box-tool" title="{% trans 'Add Reference Using Auto-Search' %}">-->
                        <!--<i class="fa fa-plus-circle"></i>-->
                        <!--{% trans 'Using Auto-Search' %}-->
                    <!--</a>-->
                    <!--<button class="btn btn-box-tool" data-widget="collapse">-->
                        <!--<i class="fa fa-plus"></i>-->
                        <!--{% trans 'Manually' %}-->
                    <!--</button>-->
                <!--</div>-->
            <!--</div>-->
            <!--&lt;!&ndash;<div id="reference" class="box-body"></div>&ndash;&gt;-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="col-sm-6">-->
        <!--<div class="box collapsed-box">-->
            <!--<div class="box-header with-border">-->
                <!--<h4 class="box-title">{% trans 'New Patch Clamp Protocol' %}</h4>-->
                <!--<div class="box-tools pull-right">-->
                    <!--<button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>-->
                <!--</div>-->
            <!--</div>-->
            <!--&lt;!&ndash;<div id="patch_clamp" class="box-body"></div>&ndash;&gt;-->
        <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="box box-default">-->
        <!--<div class="box-header with-border">-->
            <!--<h3 class="box-title">{% trans 'Graphs' %}</h3>-->
            <!--<div class="box-tools pull-right">-->
                <!--<button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>-->
            <!--</div>-->
        <!--</div>-->
        <!--&lt;!&ndash;<div id="graph" class="box-body"></div>&ndash;&gt;-->
    <!--</div>-->

    <!--<div class="modal">-->
        <!--<div class="modal-dialog">-->
            <!--<div class="modal-content">-->
                <!--<div class="modal-header">-->
                    <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span-->
                            <!--aria-hidden="true">×</span></button>-->
                    <!--<h4 class="modal-title">Patch Clamp</h4>-->
                <!--</div>-->
                <!--&lt;!&ndash;<div class="modal-body" id="form-container"></div>&ndash;&gt;-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
{% endblock %}

{% block inline-css %}
    <link href="{% static 'third_party/select2/css/select2.min.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block inline-script %}
<script src="{% static 'third_party/select2/js/select2.min.js' %}"></script>
<script src="{% static 'js/ion_channel.js' %}"></script>
    <script type="text/javascript">
        chopen.ion_channel.init({
            url: {
                ionChannelGeneIndex: '{% url 'channelworm:ion-channel-gene-index' %}',
                ionChannelGeneCreate: '{% url 'channelworm:ion-channel-gene-create' %}',
                ionChannelGeneUpdate: '{% url 'channelworm:ion-channel-gene-update' 0 %}',

                ionChannelCreateURL: '{% url 'ion_channel:ion-channel-create' %}',
                ionChannelUpdateURL: '{% url 'ion_channel:ion-channel-update' 0 %}',
                ionChannelDetailURL: '{% url 'ion_channel:ion-channel-detail-ajax' 1 %}',

                patchClampIndex: '{% url 'ion_channel:patch-clamp-index' %}',
                patchClampCreate: '{% url 'ion_channel:patch-clamp-create' %}',
                patchClampUpdate: '{% url 'ion_channel:patch-clamp-update' 0 %}',

                referenceIndex: '{% url 'ion_channel:reference-index' %}',
                referenceCreate: '{% url 'ion_channel:reference-create' %}',
                referenceCreateAuto: '{% url 'ion_channel:reference-auto-create' %}',
                referenceUpdate: '{% url 'ion_channel:reference-update' 0 %}',

                graphIndex: '{% url 'ion_channel:graph-index' %}',
                graphCreate: '{% url 'ion_channel:graph-create' %}',
                graphUpdate: '{% url 'ion_channel:graph-update' 0 %}',

                ionChannelModelIndex: '{% url 'ion_channel:ion-channel-model-index' %}',
                ionChannelModelCreate: '{% url 'ion_channel:ion-channel-model-create' %}',
                ionChannelModelUpdate: '{% url 'ion_channel:ion-channel-model-update' 0 %}',
            }
        });
    </script>

	<script>
		$(function() {
			$( "#processTabs" ).tabs({ show: { effect: "fade", duration: 400 } });
			$( ".tab-linker" ).click(function() {
				$( "#processTabs" ).tabs("option", "active", $(this).attr('rel') - 1);
				return false;
			});
		});
	</script>


{% endblock %}