{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% block page_title %}{% trans 'Ion Channel' %}{% endblock %}
{% block page_header %}{% trans 'Ion Channel' %}<small>{% trans 'Add New Ion Channel'%}</small>{% endblock %}
{% block breadcrumb %}
    <li><a href="{% url 'ion_channel:home' %}"><i class="fa fa-home"></i> {% trans 'Home' %}</a></li>
    <li><a href="{% url 'ion_channel:ion-channel-index' %}">{% trans 'Ion Channels' %}</a></li>
    <li class="active">{% trans 'Add New Ion Channel' %}</li>
{% endblock %}

{% block content %}
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">{% trans 'Add New Ion Channel' %}</h3>
            <div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div>
        </div>
        <div id="ion_channel_form" class="box-body"></div>
    </div>
    <div class="row">
        <div class="col-sm-6">
        <div class="box collapsed-box">
            <div class="box-header with-border">
                <h4 class="box-title">{% trans 'Add Reference For Patch Clamp' %}</h4>
                <div class="box-tools pull-right">
                    <a href="{% url 'ion_channel:reference-auto-create' %}" target="_blank"
                       class="btn btn-box-tool" title="{% trans 'Add Reference Using Auto-Search' %}">
                        <i class="fa fa-plus-circle"></i>
                        {% trans 'Using Auto-Search' %}
                    </a>
                    <button class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-plus"></i>
                        {% trans 'Manually' %}
                    </button>
                </div>
            </div>
            <div id="reference" class="box-body"></div>
        </div>
        </div>
        <div class="col-sm-6">
        <div class="box collapsed-box">
            <div class="box-header with-border">
                <h4 class="box-title">{% trans 'New Patch Clamp Protocol' %}</h4>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
                </div>
            </div>
            <div id="patch_clamp" class="box-body"></div>
        </div>
        </div>
    </div>
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">{% trans 'Graphs' %}</h3>
            <div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div>
        </div>
        <div id="graph" class="box-body"></div>
    </div>

    <div class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Patch Clamp</h4>
                </div>
                <div class="modal-body" id="form-container"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block inline-script %}
    <script src="{% static 'js/ion_channel.js' %}"></script>
    <script type="text/javascript">
        chopen.ion_channel.init({
            url: {
                ionChannelCreateURL: '{% url 'ion_channel:ion-channel-create' %}',
                ionChannelUpdateURL: '{% url 'ion_channel:ion-channel-update' 0 %}',

                patchClampIndex: '{% url 'ion_channel:patch-clamp-index' %}',
                patchClampCreate: '{% url 'ion_channel:patch-clamp-create' %}',
                patchClampUpdate: '{% url 'ion_channel:patch-clamp-update' 0 %}',

                referenceIndex: '{% url 'ion_channel:reference-index' %}',
                referenceCreate: '{% url 'ion_channel:reference-create' %}',
                referenceCreateAuto: '{% url 'ion_channel:reference-auto-create' %}',
                referenceUpdate: '{% url 'ion_channel:reference-update' 0 %}',

                graphIndex: '{% url 'ion_channel:graph-index' %}',
                graphCreate: '{% url 'ion_channel:graph-create' %}',
                graphUpdate: '{% url 'ion_channel:graph-update' 0 %}',

                ionChannelModelIndex: '{% url 'ion_channel:ion-channel-model-index' %}',
                ionChannelModelCreate: '{% url 'ion_channel:ion-channel-model-create' %}',
                ionChannelModelUpdate: '{% url 'ion_channel:ion-channel-model-update' 0 %}',
            }
        });
    </script>
{% endblock %}